@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  font-family:Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFDD0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board{
  text-align:center;
  margin:auto;
}

.board-row{
  display:flex;
  justify-content: center;
}

.btn {
  background-color: #000000;
  color: #15c9e5;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 15px;
  padding: 5px;
  border: 2px solid #15c9e5;
  border-radius: 5px;
  box-shadow: 0 12px #11a5bc, 2px 18px rgba(0, 0, 0, 0.4);
  font-size: 60px;
  width: 90px;
  height: 80px;
  cursor: pointer;
  position: relative;
  top: 0;
}
.btn.disabled {
  cursor: default;
}
.btn.disabled:hover {
  top: 0;
  background: #000000;
  box-shadow: 0 12px #15c9e5, 2px 18px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  background-color: #343c3d;
  top: 4px;
  box-shadow: 0 8px #15c9e5, 2px 14px rgba(0, 0, 0, 0.4);
}
.btn:active {
  top: 8px;
  box-shadow: 0 4px #15c9e5, 2px 10px rgba(0, 0, 0, 0.4);
}

.status {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align:center;
  text-shadow: 2px 2px 4px #bbb;
  margin: 15px;
  padding: 5px;
}

.App{
  width:80%;
  margin:auto;
}

.header{
  text-align:center;
  font-size:40px;
  text-shadow: 2px 2px 4px #bbb;
}

.sub-header{
  background-color: #ffffff;
  box-shadow: 0 0, 3px 3px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-top: -20px;
  padding: 5px;
  width: 90px;
  text-align:center;
  font-size:16px;
  text-shadow: 2px 2px 4px #bbb;
}

.hide{
  display:none;
};